<nb-card class="sp-details" *ngIf="this.markerInfo">
  <nb-card-header> Sales points Details </nb-card-header>
    <div>
      <div class="containter">

        <nb-card size="small" class="size-small company-details">



            <nb-list role="list">
              <nb-list-item><span>Name :</span> <span>{{ markerInfo.properties.description }}</span></nb-list-item>
              <nb-list-item><span>Manager :</span><span> {{ markerInfo.properties.manager }}</span> </nb-list-item>
              <nb-list-item><span>Email :</span><span>{{ markerInfo.properties.email }}</span> </nb-list-item>
              <nb-list-item><span>Tel : </span><span>{{ markerInfo.properties.tel }}</span> </nb-list-item>
              <nb-list-item><span>Fax : </span><span>{{ markerInfo.properties.fax }}</span> </nb-list-item>

            </nb-list>
        </nb-card>

      </div>
    </div>
    <!-- Products Tables Element -->
    <div *ngIf="markerInfo.properties.type !== 'Home-Building'">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Reference Column -->
          <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference</th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.Status">{{row.Reference}}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.Status">{{row.Status}} </td>
          </ng-container>

          <!-- Product Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.Status"> {{row.Product_name}}
            </td>
          </ng-container>

          <!-- Product Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.Status"> {{row.Category}} </td>
          </ng-container>

          <!-- Product Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.Status"> {{row.Quantity}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showContent(row)">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!-- Calendar Element -->

    <!-- <div class="col-xxl-4 calendar" *ngIf="markerInfo.properties.type !== 'Home-Building'">
      <nb-calendar [date]="date" (dateChange)="handleDateChange($event)"></nb-calendar>
    </div> -->



</nb-card>
<nb-card class="sp-details" *ngIf="this.newMarker">
<nb-card-header> Add Sales points </nb-card-header>
    <div [formGroup]="this.form">
      <div class="containter">

        <nb-card size="small" class="size-small company-details new-marker">

            <nb-list role="list">
              <nb-list-item><span>Name :</span> <span><input nbInput formControlName="name"></span></nb-list-item>
              <nb-list-item><span>Manager :</span><span><input nbInput formControlName="manager"> </span> </nb-list-item>
              <nb-list-item><span>Email :</span><span><input nbInput formControlName="email"> </span> </nb-list-item>
              <nb-list-item><span>Tel : </span><span><input nbInput formControlName="tel"></span> </nb-list-item>
              <nb-list-item><span>Fax : </span><span><input nbInput formControlName="fax"></span> </nb-list-item>
              <nb-list-item><span>Coordonates : </span><span><input nbInput formControlName="coordonates"></span> </nb-list-item>
              <nb-list-item>
                <button mat-button (click)="addMarker()" [disabled]="!this.form.valid">Add Marker</button>
             </nb-list-item>

            </nb-list>
        </nb-card>

      </div>
    </div>
</nb-card>
