table, td, mat-paginator-icon {
  color: white !important;
}

nb-card-body{
  padding-top:0px;
}
.btnNewPreFile,.btnShowPreFile{
  margin-left:10px;
}

table {
  width: 100%;
  background-color: #5c5cac;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
td.UA{
  background-color: #63cdd7 ;
}
mat-paginator{
  background-color: #505085;
  color: white;
}
.mat-option-text {
  background-color: white !important;
  align-items: center;
}
tr:hover{
background-color: rgba(0,0,0,0.2) !important;
cursor:pointer;
}
.filterInput{
margin-top:10px;
margin-bottom:5px;
}

.mat-column-status{
  width: 15% !important;
}
.mat-column-name{
  width: 20% !important;
}
.mat-column-category{
  width: 10% !important;
}
.mat-column-addedByName{
  width: 15% !important;
}
.mat-column-test  {
    width: 10% !important;
}
.mat-column-ref{
  width: 15% !important;
}
.mat-column-deadline{
  width: 15% !important;
}
.btnHide{
  text-align: right;
}
.cancelBtn{
  padding:0px;
  text-align:left;
}
.btnShowTaskMenu{
  padding:0px;
  text-align:left;

}
