<div class="row">
  <div class="col-xxl-5">
    <div class="containter">

      <nb-card size="small" class="size-small col-sm-12">
        <nb-card-header>
          <span>Company Details</span>
        </nb-card-header>
        <nb-list role="list">
          <nb-list-item><span>Name :</span> <span>Company-Name</span></nb-list-item>
          <nb-list-item><span>Address :</span><span> 12 StreetName 7050</span> </nb-list-item>
          <nb-list-item><span>Email :</span><span>Company@corporation.com</span> </nb-list-item>
          <nb-list-item><span>Tel : </span><span>(+216) 98765432</span> </nb-list-item>
          <nb-list-item><span>Fax : </span><span>(+216) 76543210</span> </nb-list-item>
        </nb-list>
      </nb-card>

    </div>
  </div>

  <div class="conatiner pos-desc col-xxl-7">

  <nb-card size="small" class="col-md-12 size-small pos-desc-data">
    <nb-card-header>
      <span>New Orders</span>
    </nb-card-header>
    <nb-list role="list">
      <nb-list-item role="listitem" *ngFor="let entry of spList">

        <span>{{ entry.id }}</span>
        <span>{{ entry.SP_Name }}</span>
        <span>{{ entry.SP_Manager_Name }}</span>
      </nb-list-item>
    </nb-list>

  </nb-card>
</div>

</div>

<ngx-traffic-reveal-card></ngx-traffic-reveal-card>
