.traffic-card{
  padding: 0 !important;
}
.item:first-child {
  border-top: none;
}
.listitem{

  justify-content: space-evenly;
}
nb-card nb-list::-webkit-scrollbar{
  width: .3125rem;
  height: .3125rem;
}
nb-card nb-list::-webkit-scrollbar-thumb {
  background: #e4e9f2;
  cursor: pointer;
  border-radius: .15625rem;
}
nb-card nb-list::-webkit-scrollbar-track {
  background: #f7f9fc;
}

nb-list-item > span {
  flex: 1;
  flex-direction: row;
}
nb-list-item > span:nth-child(2){
  flex: 2;
}
.pos-desc{
  padding-right: 30px;
}
.pos-desc-data{
  height: 150px;
  padding-right: 15px;
}
