
.btnHide{
  text-align: right;
}
/* Structure */
table {
  width: 100%;
  background-color: #5c5cac;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
tr:hover{
  background-color: rgba(0,0,0,0.2) !important;
  cursor:pointer;
}
// Materialize input placeholder theme
#mat-input-1::-moz-placeholder{
  color: red !important;
}
#mat-input-1::-moz-placeholder{
  color: red !important;
}

